footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f1f1f1;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #000;
  }
  
  footer .col-md-4,
  footer .col-sm-12 {
    text-align: center;
  }
  
  footer .image-container {
    display: flex;
    justify-content: center;
  }
  
  footer img {
    height: 40px;
    margin-bottom: 20px;
  }

  .h3-foot{
    font-size: 25px;
  }

  